.father {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: nowrap;
}

.child {
    flex-basis: 300px;
    background-color: blueviolet;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child:nth-child(2) {
    background:#000;
    flex-grow: 1;
}